{% extends 'SibersExcelToDoctrineMigrationBundle::base.html.twig' %}

{% block body %}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">ManageIT</a>
            <ul class="nav">
                <li class="active">
                    <a href="#">Configs</a>
                </li>
                <li>
                    <a href="#">Migration</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}